body {
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  color: #e9e9e9;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.form__headline {
  text-align: center;
  font-size: 50px;
}

.form__label {
  font-size: 25px;
  text-align: left;
}

.form__input {
  width: 100%;
  background: #f5f5f5;
  border: none;
  border-radius: 20px;
}

.button {
  width: 100%;
  padding-top: 20px;
}

.form__input--button {
  font-size: 16px;
  font-weight: bold;
  background: #e8e8e8;
}
