<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/form.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/index.css" />
    <title>Index</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="nav__left">
          <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="/">Bank</a></li>
            {% if not session.user %}
            <li class="nav__item">
              <a class="nav__link" href="/login">Login</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/register">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="nav__right">
          <ul class="nav__items">
            {% if session.user %}
            <li class="nav__item">
              <a class="nav__link" href="/profile">{{ user.name }} {{ user.lastname }}</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <section class="section">
      <div class="wrapper">
        <div class="headline">
          <h1 class="headline__h1">Welcome to the Bank</h1>
        </div>
      </div>
    </section>

    <!-- TODO: Check if card info is valid -->
    <section class="section">
      {% if user.verified == 0 %}
      <div class="wrapper">
        <form
          class="form"
          action="http://127.0.0.1:5000/linkCard"
          method="POST"
        >
          <h1 class="form__headline">Link Card</h1>
          <table>
            <tr>
              <td>
                <label for="cardNum" class="form__label">Card number</label>
              </td>
              <td>
                <input
                  class="form__input"
                  name="cardNum"
                  type="number"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label for="owner" class="form__label">Owner</label></td>
              <td>
                <input class="form__input" name="owner" type="text" required />
              </td>
            </tr>
            <tr>
              <td>
                <label for="date" class="form__label">Expiration Date</label>
              </td>
              <td>
                <input
                  class="form__input form__input--date"
                  name="month"
                  type="number"
                  max="12"
                  required
                />
                <input
                  class="form__input form__input--date"
                  name="year"
                  type="number"
                  max="99"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="securityCode" class="form__label"
                  >Security Code</label
                >
              </td>
              <td>
                <input
                  class="form__input"
                  name="securityCode"
                  type="number"
                  max="999"
                  required
                />
              </td>
            </tr>
            <tr>
              <td class="button" colspan="2">
                <input
                  class="form__input form__input--button"
                  type="submit"
                  value="Link card"
                />
              </td>
            </tr>
            {% if message %}
            <tr>
              <td colspan="2">
                {{ message }}
              </td>
            </tr>
            {% endif %}
          </table>
        </form>
      </div>
      {% endif %} {% if user.verified != 0 %}
      <div class="wrapper">
        <h1 class="form__headline">Linked Card</h1>
        <table>
          <tr>
            <td>
              <label for="cardNum" class="form__label">Card number</label>
            </td>
            <td>
              <label for="cardNum" class="form__label">{{card.cardNum}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label for="owner" class="form__label">Owner</label>
            </td>
            <td>
              <label for="owner" class="form__label">{{card.owner}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label for="date" class="form__label">Expiration Date</label>
            </td>
            <td>
              <label for="date" class="form__label">{{card.expDate}}</label>
            </td>
          </tr>
        </table>
      </div>
      <!-- Adding funds to account -->
      <form  action="http://127.0.0.1:5000/addFunds" method="POST">
        <table>
          <tr>
            <td colspan="2"> Add funds to online account: </td>
          </tr>
          <tr>
            <td>Amount: </td>
            <td><input type="number" min="1" name="amount"></td>
          </tr>
          <tr>
            <td>Currency: </td>
            <td><input type="text" name="currency"></td>
          </tr>
          <tr>
            <td><input type="submit" value="ADD"></td>
          </tr>
        </table>
      </form>
      {% endif %}
    </section>
  </body>
</html>
