<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/form.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <title>Register</title>
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <nav class="nav">
          <div class="nav__left">
            <ul class="nav__items">
              <li class="nav__item"><a class="nav__link" href="/">Bank</a></li>
            </ul>
          </div>
          <div class="nav__right">
            <ul class="nav__items">
              {% if session.user %}
              <li class="nav__item">
                <a class="nav__link" href="/profile"
                  >{{ user.name }} {{ user.lastname }}</a
                >
              </li>
              <li class="nav__item">
                <a class="nav__link" href="/logout">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- TODO: Separate code below to separate .js file -->
    <script>
      function mouseoverPass(obj) {
        var obj = document.getElementById('password');
        obj.type = 'text';
      }
      function mouseoutPass(obj) {
        var obj = document.getElementById('password');
        obj.type = 'password';
      }
    </script>

    <div class="wrapper">
      <h1 class="form__headline">Update user info</h1>

      <form
        class="form"
        action="http://127.0.0.1:5000/updateProfile"
        method="POST"
      >
        <table>
          <tr>
            <td>
              <label class="form__label" for="name">Name:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="text"
                name="name"
                required
                value="{{user.name}}"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="lastname">Last name:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="text"
                name="lastname"
                required
                value="{{user.lastname}}"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="email">Email:</label>
            </td>
            <td>
              <label class="form__label" for="email">{{user.email}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="password">Password:</label>
            </td>
            <td>
              <input
                id="password"
                class="form__input"
                type="password"
                name="password"
                required
                value="{{user.password}}"
                onmouseover="mouseoverPass();"
                onmouseout="mouseoutPass();"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="address">Address:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="text"
                name="address"
                required
                value="{{user.address}}"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="city">City:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="text"
                name="city"
                required
                value="{{user.city}}"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="country">Country:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="text"
                name="country"
                required
                value="{{user.country}}"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="form__label" for="phonNum">Phone Number:</label>
            </td>
            <td>
              <input
                class="form__input"
                type="number"
                name="phonNum"
                required
                value="{{user.phonNum}}"
              />
            </td>
          </tr>
          <tr>
            <td class="button" colspan="2">
              <input
                class="form__input form__input--button"
                type="submit"
                value="Update"
              />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
